{% extends "base.html" %}
{% block title %}Reset password{% endblock %}
{% block content %}

<!-- Content -->
<div id="content">
    <h1>Reset Password</h1>
     <div>
        {% if validlink %}
         <form method="POST">
             {% csrf_token %}
             {% if form.errors %}
                <p class="errornote">Please correct the error below.</p>
             {% endif %}
             <fieldset class="module">
                {{ form.non_field_errors }}
                <div class="form-rows">
                    {{ form.new_password1.errors }}
                    <label for="{{ form.new_password1.id_for_label }}">New password:</label>
                    {{ form.new_password1 }}

                    <div class="help">
                        {{ form.new_password1.help_text }}
                    </div>
                </div>

                <div class="form-rows">
                    {{ form.new_password2.errors }}
                    <label for="{{ form.new_password2.id_for_label }}">New password confirmation:</label>
                    {{ form.new_password2 }}  
                </div>
            </fieldset>
            <div class="submit-row">
                <input type="submit" value="Rest password" class="default">
            </div>
         </form>
        {% else %}
            <p style="color: red">Invalid token!</p>
            <p>
                <a href="{% url 'password_reset' %}">Request a new pasword reset token.</a>
            </p>
        {% endif %}
     </div>
</div>
{% endblock %}