{% extends "base.html" %}
{% block title %}Change password{% endblock %}
{% block content %}

<!-- Content -->
<div id="content">
    <h1>Password change</h1>
    <form method="POST">
        {% csrf_token %}
        {% if form.errors %}
            <p class="errornote">Please correct the error below.</p>
        {% endif %}
        <div>
            <p>
            Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.
            </p>
            <fieldset class="module">
                {{ form.non_field_errors }}
                <div class="form-rows">
                    {{ form.old_password.errors }}
                    <label for="{{ form.old_password.id_for_label }}">Old password:</label>
                    {{ form.old_password }}
                </div>

                <div class="form-rows">
                    {{ form.new_password1.errors }}
                    <label for="{{ form.new_password1.id_for_label }}">New password:</label>
                    {{ form.new_password1 }}
                
                    <div class="help">
                        {{ form.new_password1.help_text }}
                    </div>
                    
                </div>

                <div class="form-rows">
                    {{ form.new_password2.errors }}
                    <label for="{{ form.new_password2.id_for_label }}">New password confirmation:</label>
                    {{ form.new_password2 }}
                </div>

                
            </fieldset>
            <div class="submit-row">
                <input type="submit" value="Change my password" class="default">
            </div>
        </div>
    </form>
</div>
{% endblock %}