.card-event {
	padding-bottom: 20px;
	border: none;
	padding-top: 10px;
}

.card-event .card-img-top {
	max-height: 250px;
}

.card-body p {
	margin: 0;
	font-size: 13px;
	color: #6f7287;
	font-weight: 600;
	line-height: 1.2;
}

.card-title {
	color: #39364f;
	font-size: 1.333rem;
}



.event_title {
	display: -webkit-box;
	margin: 0 auto;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #1E0A3C;
	font-weight: 600;
	font-size: 20px;
	line-height: 30px;
	letter-spacing: .5px;
}

#pagination {
	margin-top: -20px;
}